

/* display: inline-block; */
.CheckBox--Container{
  width: 39vw;
  min-height: 265px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  padding-right: 40px;
  padding-bottom: 40px;
}
.CheckBox--Container ~ .CheckBox--Content{
    display: flex;
    flex-wrap: wrap;
}
.CheckBox--Container > img{
    margin: 40px;
    align-self: start;
}
.CheckBox--Content{
  display: flex;
  flex-direction: column;
}
.Content--Title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 50px;
}
.Content--Text{
  font-size: 1.75rem;
  color: #6c6c72;
}