.CheckBox--Container{
  width: 745px;
  min-height: 265px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  margin-right: 40px;
  margin-bottom: 40px;
}
.CheckBox--Container ~ .CheckBox--Content{
    display: flex;
    flex-wrap: wrap;
}
.CheckBox--Container > img{
    margin: 40px;
    align-self: start;
}
.CheckBox--Content{
  display: flex;
  flex-direction: column;
}
.Content--Title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 50px;
}
.Content--Text{
  font-size: 28px;
  color: #6c6c72;
}